<div id='home_container'>
    <table style='width: 100%;'>
        <tr style='border: none;'>
            <td style='width: 65%;'>
                <!-- Challenge Widget -->
                <div class='widget'>
                    <div style='display: table-cell;padding-left: 5rem;'>
                        <h1 class='challenge-component-title'>Current Challenge</h1>
                        {{#with currentChallenge}}
                            <h2 class='challenge-component-title'>{{title}}</h2>
                            <p class='challenge-information'>{{description}}</p>
                            <p class='challenge-information'>The reward for this
                                challenge is
                                {{reward}}
                                points (more points can be earned through
                                ranking high on the leaderboard).</p>
                        {{/with}}
                    </div>
                    <div class='challenge-component-bottom'>
                        <!-- Leaderboard -->
                        <div class='leaderboard-flex-item'>
                            <h1 class='challenge-component-title'>💪 Leaderboard
                                💪</h1>
                            <div style='display: table;'>
                                <div style='display: table-cell;'>
                                    <div class='leaderboard-item-flex'>
                                        <span>Rank</span>
                                        <span>Username</span>
                                        <span>Time</span>
                                    </div>
                                    {{#each currentChallenge.leaderboard}}
                                        <div class='leaderboard-item-flex'>
                                            <span>{{incrementIndex @index}})
                                            </span>
                                            <a href='/user/{{userName}}'>
                                                <span>{{userName}}</span>
                                            </a>
                                            <span>{{dateTo24HRFormat
                                                    time
                                                }}</span>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <!-- Submission Component -->
                        <div class='submission-flex-item'>
                            <h1>Challenge Submission Status</h1>
                            {{#if submission}}
                                <p>Your submitted some shit</p>
                            {{else}}
                                <p>Participate in the challenge you lazy piece
                                    of shit!</p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <!-- 5 Favorite Workout Widget -->
                <div class='widget' style='text-align: center;'>
                    <h2>Quick Access to Some of Your Workouts</h2>
                    {{#each userData.workouts}}
                        <div class='favoriteWorkoutElement center'>
                            <span style='display: table-cell;'><h3
                                    style='display: inline-block;'
                                >Name: {{name}}</h3>
                                <span>Workout Type: {{type}}</span>
                                <span>Notes: {{notes}}</span>
                            </span>
                            <div style='display: table-cell;text-align: right;'>
                                <button
                                    class='about_button'
                                    style='font-size: 16px;white-space: pre-wrap;'
                                    onclick='location.href={{workoutURL}}'
                                >Run Again</button>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </td>
        </tr>
    </table>
    More stuff can go down here idk yet
</div>