<div id='workout_container' class='center'>
        <button
        class='about_button'
        style='background-color: var(--dark-grey);color: green;'
        id="create_workout"
    >Create your Own Workout!</button><br><br>
    <label for='workoutSearch' style="color: var(--light-text);">Search for Workouts:</label>
    <input
        type='text'
        placeholder='Search for workouts...'
        id='workoutSearch'
        name="workoutSearch"
    />
    <input type="button" value="Hide List" id="clear_filter">
    <input type="button" value="Sort by Name (Ascending)" id="alpha_sort">
    <br>
    <br>
    <div id="list1" class="dropdown-check-list" tabindex="100">
    <span class="anchor">Filter by Workout Type(s)</span>
    <ul class="items" id="filterCheckList">
        <li><label for="filterInput1"><input type="checkbox" name="filterInput1" id="filterInput1" value="Lower Body" class="selectCheck">Lower Body</label> </li>
        <li><label for="filterInput2"><input type="checkbox" name="filterInput2" id="filterInput2" value="Upper Body" class="selectCheck">Upper Body</label> </li>
        <li><label for="filterInput3"><input type="checkbox" name="filterInput3" id="filterInput3" value="Endurance" class="selectCheck">Endurance</label> </li>
        <li><label for="filterInput4"><input type="checkbox" name="filterInput4" id="filterInput4" value="Strength" class="selectCheck">Strength</label> </li>
        <li><label for="filterInput5"><input type="checkbox" name="filterInput5" id="filterInput5" value="Core" class="selectCheck">Core</label> </li>
    </ul>
    </div>
    <br />
    <br>
    <div id='element_container' style="overflow-y: scroll;">
        {{#each workouts}}
            <div
                class='favoriteWorkoutElement'
                style='width: 25%;color: var(--light-text);padding: 1rem;display: block;'
                aria-label='{{name}}'
            >
                <span hidden class="data" style="visibility:hidden;display: none;">{{string}}</span>
                <div style='display: table;width: 100%'>
                    <span style='display: table-cell;width: 25%;'>{{name}}</span>
                    <div
                        style='display: table-cell;text-align: right;width: 100%;'
                    >
                        <button
                            class='about_button view'
                            style='font-size: 16px;'
                            value="{{string}}"
                        >Expand</button>
                        {{#if isPreset}}
                        <button
                            class='about_button'
                            style='font-size: 16px;'
                            value="{{string}}"
                        >Add</button>
                        {{/if}}
                        {{#if userCreated}}
                        <button
                                class='about_button'
                                style='font-size: 16px;color: red;'
                                value="{{_id}}"
                            >Delete</button>
                        {{/if}}
                    </div>
                </div>
                <div class="expanded" style="display: none;">
                    <br>
                        <span><span style="font-weight: bold;">Workout Type:</span> <span style="font-style:italic;">{{type}}</span></span>
                    <h4 class="workout_expanded">Exercsises</h4>
                    {{#each exercises}}
                    <hr>
                        <h5 style="font-weight: bold;font-size: 12pt;text-decoration: underline">{{name}}</h5>
                        <p>{{sets}} sets of {{reps}} reps</p>
                        <p>{{instructions}}</p>
                        <p>
                            Equipment: 
                            <span style="font-style: italic;">{{equipment}}</span>
                        </p>
                        <p>
                            Target Muscles: 
                            <span style="font-style: italic;">{{targetMuscles}}</span>
                        </p>
                        <p>{{description}}</p>
                    {{/each}}

                </div>
            </div>
        {{/each}}
    </div>

</div>

<div id="create_workout_popup" class="center" style="display: none;">
    <form action="/workouts/workout" style="color: var(--light-text);" id="submitWorkout">

    <label for="nameInput">
        Input a workout name
        <input type="text" name="nameInput" id="nameInput" required>
    </label>
    <br>
    <br>
    <div id="list2" class="dropdown-check-list" tabindex="100" style="color: black">
    <span class="anchor">Choose Workout Type(s)</span>
    <ul class="items">
        <li><label for="selectType1"><input type="checkbox" name="selectType1" id="selectType1" value="Lower Body">Lower Body</label> </li>
        <li><label for="selectType2"><input type="checkbox" name="selectType2" id="selectType2" value="Upper Body">Upper Body</label> </li>
        <li><label for="selectType3"><input type="checkbox" name="selectType3" id="selectType3" value="Endurance">Endurance</label> </li>
        <li><label for="selectType4"><input type="checkbox" name="selectType4" id="selectType4" value="Strength">Strength</label> </li>
        <li><label for="selectType5"><input type="checkbox" name="selectType5" id="selectType5" value="Core">Core</label> </li>
    </ul>
    </div>


    <br>
    <label for="weightGoal">
    Weight Goal (lb/kg depending on your preferred unit)
    <input type="number" name="weightGoal" id="weightGoal" min="0" required></label><br>
    <label for="difficulty">
    Difficulty (1-10)
    <input type="number" name="difficulty" id="difficulty" min="1" max="10" required></label><br>
    <label for="restTime">
    Rest time (sec) (1-300) <br>
    <input type="number" name="restTime" id="restTime" min="1" max="300" required><br>
    </label>
    <br>
    <label for="notes">
        General notes <br>
        <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
    </label><br>
    <p style="color: red;" id="submitError"></p>

        <div class="center" id="curPlan">
            <h3>Current Workout Plan:</h3>
            <ol id="planList">

            </ol>
        </div>
    <button id="addExercises">Add Exercises</button><button id="saveWorkout">Save Workout</button>
    <br>
    <br>
    </form>


    <div  class="center"  id="bodyDiagram" hidden>
        <div class="center" style="position: relative;width: 50%;" >
            <img src="./public/res/muscle_groups_blank.png" alt="Muscle groups" style="width: 720px;">
            <button class="muscle_group_button" id="shoulders" style="transform: translate(-190%, -360%);">Shoulders</button>
            <button class="muscle_group_button" id="chest" style="transform: translate(-420%, -320%);">Chest</button>
            <button class="muscle_group_button" id="obliques" style="transform: translate(-240%, -160%);">Obliques</button>
            <button class="muscle_group_button" id="quadricepts" style="  transform: translate(-220%, 140%);">Quadriceps</button>
            <button class="muscle_group_button" id="biceps" style="  transform: translate(170%, -250%);">Biceps</button>
            <button class="muscle_group_button" id="abdominals" style="transform: translate(110%, -110%);">Abdominals</button>
            <button class="muscle_group_button" id="adductors" style="  transform: translate(120%, 60%);">Adductors</button>
        </div>
        <div>
            <h3>Available Exercises:</h3>
            <div id="availableList">

            </div>
        </div>
    </div>
</div>  

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


<script src='../public/js/workouts.js'></script>